/*----------------------*/
/*--- General Styles ---*/
/*----------------------*/
@font-face {font-family: "Forced Square"; src: url(../fonts/forced-square.ttf);}

* {box-sizing: border-box;}

body {
	background-color: pink;
	background: url(../images/bg-90s.jpg);
	background-size: 80%;
	font-weight: 800;
	overflow: hidden;
}

footer {
	position: fixed;
	left: 10px;
	bottom: 10px;
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #000;
}
footer:hover {transform: scale(1.1); box-shadow: 2px 2px 10px rgba(0,0,0,0.8);}
footer a {text-decoration: none; color: #000;}

.container {
	position: relative;
	background-color: #ffff4e;
	margin: 30px auto;
	width: 70%;
	padding: 50px 20px;
	text-align: center;
	min-height: 500px;
	box-shadow: 0 0 15px 3px rgba(0,0,0,0.9);
	border-radius: 10px;
}

h1 {
	font-family: "Forced Square", consolas,sans-serif;
	color: #3c0099;
	font-size: 70px;
	text-align: center;
}
h2 {margin: 30px; font-size: 30px;}

.trivia p {margin: 20px 0 0; font-size: 20px;}
.results p {margin: 10px 0;}
.question {	padding: 15px 0;}

.btn {
	border: 2px solid #3c0099;	
	background-color: pink;
	padding: 10px 100px;
	font-size: 30px;
	cursor: pointer;	
}

.answer-img img {
	border: 3px solid #000;
	height: 160px;
}

/* Start button */
#start {
	position: absolute;
	bottom: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px / 50%;
}

#restart,
#done {
	margin: 30px auto;
	padding: 5px;
}

.btn-no-bg,
.btn-option {
	display: block;
	margin: 0 auto;
	min-width: 300px;
	font-size: 30px;
	background: 0;
	border: 0;
	cursor: pointer;
	outline: 0;
}

.btn-option:hover {
	border: 2px solid #3c0099;	
	background-color: pink;	
	border-radius: 10px / 50%;
}

img {width: 300px;}

.hide {display: none;}

.correct-answer {
	color: #f00;
	text-shadow: 0 0 2px #000, 0 0 2px #000;
	font-weight: 800;
}

/*---------------*/
/*--- The 90s ---*/
/*---------------*/

.the90s {background: url(../images/bg-90s.jpg); background-size: 80%;}
.the90s .container {background-color: rgba(255, 255, 78, 1);}

/*-------------------*/
/*--- Video Games ---*/
/*-------------------*/

.video-games {
	background: url(../images/video-game-backgrounds.png);
	background-size: cover;
	color: #fff;
	user-select: none;
}
.video-games .container {
	background-color: rgba(0, 51, 204, .6);
	box-shadow: 0 0 15px 3px rgba(255,255,255,0.9);
}

.video-games h1 {color: #000;}

.video-games .btn,
.video-games .btn-option:hover {
	background-color: #000;
	border: 0;
	color: #fff;
}

.video-games .btn-option,
.movies .btn-option,
.music .btn-option {
	width: initial;
}

/*--------------*/
/*--- Movies ---*/
/*--------------*/
.movies {background-image: url(../images/captain-america-vs-black-panther.jpg); background-size: cover;}
.movies .container {background-color: rgba(255, 255, 204, .3);}

/*-------------*/
/*--- Music ---*/
/*-------------*/
.music {background-image: url(../images/music-2.jpg); background-size: cover;}
.music .container {background-color: rgba(255, 255, 204, .3);}

.music .btn,
.music .btn-option:hover {
	background-color: rgba(0,0,255,0.6);
}

/* Flourishes */
@keyframes symbol_flash {
	0% {opacity: 0;	transform: scale(0);}
	35% {opacity: 1;transform: scale(1.2);}
	100% {opacity: 1;transform: scale(0);}
}

/*The 90s Flourish*/
.star {
	position: absolute;
	top: 10px;
	left: 50%;
	width: 75px;
	height: 75px;
	background-color: blue;
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	animation: symbol_flash 1s forwards;
	opacity: 0;
}

.star-1 {background-color: blue;}
.star-2 {background-color: orange;}
.star-3 {background-color: red;}

.star.sm {width: 50px;height: 50px;}
.star.md {width: 75px;height: 75px;}
.star.lg {width: 100px;height: 100px;}

/* Video Games */
.coin {
	position: absolute;
	top: 15%;
	left: 8%;
	width: 100px;
	height: 100px;
	background-color: #ff5;
	background-image: linear-gradient(135deg, #fff 0%,#ff5 40%,#ccb100 100%);
	border-radius: 50%;
	border: 10px solid #ff5;
	box-shadow: 0 0 10px rgba(0,0,0,.6), inset 0 0 10px rgba(0,0,0,0.5);
	animation: spin 5s linear infinite;
}

.coin::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
	height: 70%;
	box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
	border-radius: 2px;
	border: 2px solid rgba(0,0,0,0.3);
	border-image-source: linear-gradient(-80deg, #fff, rgba(0,0,0,0.3));
    border-image-slice: 1;
}

@keyframes spin {
	0% {transform: rotate(-360deg);}
	100% {transform: rotate(0deg);}
}

.spin-dir-0 {animation-name: spin_clockwise;}
.spin-dir-1 {animation-name: spin_counter;}

.spin-speed-0 {animation-duration: 2000ms;}
.spin-speed-1 {animation-duration: 2500ms;}
.spin-speed-2 {animation-duration: 3000ms;}
.spin-speed-3 {animation-duration: 3500ms;}
.spin-speed-4 {animation-duration: 4000ms;}
.spin-speed-5 {animation-duration: 4500ms;}
.spin-speed-6 {animation-duration: 5000ms;}

@keyframes spin_clockwise {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes spin_counter {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}

.purse {
	display: none;
}

.video-games .purse {
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
/*	color: #fff;*/
}


/*Music Flourish*/
.musical-note {
	position: absolute;
	font-size: 2em;
	animation: symbol_flash 1s forwards;
	opacity: 0;
}
.musical-note.sm {font-size: 2em;}
.musical-note.md {font-size: 5em;}
.musical-note.lg {font-size: 8em;}

/*Movies Flourish*/
.popcorn {
	position: absolute;
	animation: symbol_flash 1s forwards;
	opacity: 0;
}
.popcorn.sm {width: 75px;height: 75px;}
.popcorn.md {width: 100px;height: 100px;}
.popcorn.lg {width: 125px;height: 125px;}

.popcorn-1 {
	position: absolute;
	top: 15%;
	left: 1%;
	width: 100px;
	height: 100px;
    background-repeat: no-repeat;
	background-image: 
	radial-gradient(ellipse at 50% 44%, #ff9 50%, transparent 50%), /*main top */ 
    radial-gradient(ellipse at 50% 42%, #ccb100 50%, transparent 50%), /*Main shadow*/
    radial-gradient(ellipse at 50% 44%, #ff9 50%, transparent 50%), /*Main*/

    radial-gradient(ellipse at 58% 60%, #ff8 50%, transparent 50%), /* center bottom top */ 
    radial-gradient(ellipse at 58% 57%, #ccb100 50%, transparent 50%), /* center bottom shadow */ 
    radial-gradient(ellipse at 58% 60%, #ff8 50%, transparent 50%), /* center bottom */ 

    radial-gradient(ellipse at 58% 60%, #ff8 50%, transparent 50%), /* right bottom top */ 
    radial-gradient(ellipse at 58% 57%, #ccb100 50%, transparent 50%), /* right bottom shadow */ 
    radial-gradient(ellipse at 58% 50%, #ff8 50%, transparent 50%), /* right bottom */ 

	radial-gradient(ellipse at 58% 60%, #ff9 50%, transparent 50%), /* left bottom top */ 
    radial-gradient(ellipse at 58% 57%, #ccb100 50%, transparent 50%), /* left bottom shadow */ 
    radial-gradient(ellipse at 60% 50%, #ff9 50%, transparent 50%);
	background-size: 
		80% 90%, 80% 80%, 100% 100%,
    	38% 31%, 30% 31%, 50% 50%, 
    	38% 31%, 30% 31%, 50% 50%, 
    	38% 36%, 30% 31%, 50% 50%;
	background-position: 
		50% 50%, 70% 50%, 0 0,
		53% 89%, 52% 95%, 50% 100%, 
		12% 77%, 12% 83%, 0 100%,        
		77% 82%, 83% 84%, 82% 100%;
}
.popcorn-2 {
	position: absolute;
	top: 15%;
	left: 1%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
    background-repeat: no-repeat;
	background-image: radial-gradient();
}

/* Theme Buttons */
.themes {
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	top: 50%;
	right: 10px;
	transform: translate(-10%, -50%);
	width: 100px;
	height: 90vh;
	border-radius: 5px;
}

.theme {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	background-color: #bbb;
	cursor: pointer;
	border: 2px solid #000;
	box-shadow: 0 0 10px rgba(0,0,0,0.6), inset 0 0 10px rgba(0,0,0,0.6);
	background-image: linear-gradient(#000, #fff),
	    linear-gradient(to right, #000 0%, transparent 30%, transparent 70%, #000 100%);
	background-size: 100% 100%;
	filter: grayscale(100%);
	z-index: 1;
}

.theme:hover{
	filter: grayscale(0%);
	border: 2px solid #009cff;
	transform: scale(1.1);
	box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
}

.theme-1 {background-image: url(https://media3.giphy.com/media/qTO3G17bstuo0/100_s.gif);}
.theme-1:hover {background-image: url(https://media3.giphy.com/media/qTO3G17bstuo0/100.gif);}

.theme-2 {background-image: url(https://media3.giphy.com/media/d2Z7NqwF3yImFNHW/100_s.gif);}
.theme-2:hover {background-image: url(https://media3.giphy.com/media/d2Z7NqwF3yImFNHW/100.gif);}

.theme-3 {background-image: url(https://media3.giphy.com/media/pUeXcg80cO8I8/100_s.gif);}
.theme-3:hover {background-image: url(https://media3.giphy.com/media/pUeXcg80cO8I8/100.gif);}

.theme-4 {background-image: url(https://media3.giphy.com/media/XQ1FwjRKun4nS/100_s.gif);}
.theme-4:hover {background-image: url(https://media3.giphy.com/media/XQ1FwjRKun4nS/100.gif);}

.theme-1:hover::before,
.theme-2:hover::before,
.theme-3:hover::before,
.theme-4:hover::before {
	content: attr(data-theme);
	position: absolute;
	top: -1em;
	left: -2px;
	width: 100%;
	font-size: 1em;
	background-color: #009cff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 2px solid #009cff;
	color: #000;
	animation: reveal 500ms forwards;
	z-index: -1;
}

.active {border: 2px solid #009cff; filter: grayscale(0%);}

@keyframes reveal {
	0% {top: 1em; opacity: 0;}
	100% {top: -1em; opacity: 1;}
}